:root {
    --font-family-Rob: Roboto;
    --font-family-Ral: Raleway;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-black: 900;
    --color-sea: #2196F3;
    --color-white: #fff;
    --color-black: #212121;
}

body {
    font-family: Roboto;
    color: #212121;
}

.header {
    background-color: var(--color-white);
    position: relative;
}

.header-title {
    font-family: var(--font-family-Ral);
    font-weight: var(--font-weight-bold);
    font-size: 26px;
}

.header-title-color {
    color: var(--color-sea);
}

.header-title-color-b {
    color: var(--color-black);
}

.header-list {
    display: inline-block;
}

.header-link-style {
    font-family: var(--font-family-Rob);
    font-weight: var(--font-weight-medium);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.14;
    color: var(--color-black);
}

.header-link-style:hover,
.header-link-style:active {
    color: var(--color-sea);
}

.header-link-style-contacts {
    color: #757575;
}

.header-link-style-contacts:hover,
.header-link-style-contacts:active {
    color: var(--color-sea);
}

.main-section {
    background-color: #2F303A;
}

.main-title {
    font-family: var(--font-family-Rob);
    font-weight: var(--font-weight-black);
    color: var(--color-white);
    font-size: 44px;
    line-height: 1.36;
}

.main-title-button {
    background-color: var(--color-sea);
    color: var(--color-white);
    font-family: var(--font-family-Rob);
    font-weight: var(--font-weight-bold);
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
}

.ul-title-bold {
    font-family: var(--font-family-Rob);
    font-weight: var(--font-weight-bold);
    font-size: 14px;
    line-height: 1.14;
}

.ul-title-par {
    font-family: var(--font-family-Rob);
    font-weight: var(--font-weight-regular);
    color: #757575;
    font-size: 14px;
    line-height: 1.71;
}

.section-title {
    font-family: var(--font-family-Rob);
    font-weight: var(--font-weight-bold);
    font-size: 36px;
    line-height: 1.16;
}

.section-title-portf {
    font-family: var(--font-family-Rob);
    font-weight: var(--font-weight-bold);
    font-size: 18px;
}

.section-title-par {
    font-family: var(--font-family-Rob);
    font-weight: var(--font-weight-regular);
    font-size: 16px;
    color: #757575;
}

.team-name {
    font-family: var(--font-family-Rob);
    font-weight: var(--font-weight-medium);
    font-size: 16px;
    line-height: 1.18;
    color: #212121;
}

.team-special {
    font-family: var(--font-family-Rob);
    font-weight: var(--font-weight-regular);
    font-size: 16px;
    line-height: 1.18;
    color: #757575;
}

.footer {
    background-color: #2F303A;
}

.footer-adress {
    font-style: normal;
}

.footer-title-color-w {
    color: var(--color-white);
}

.footer-li-map {
    font-family: var(--font-family-Rob);
    font-weight: var(--font-weight-regular);
    font-size: 14px;
    color: var(--color-white);
    text-decoration: none;
}

.footer-li {
    font-family: var(--font-family-Rob);
    font-weight: var(--font-weight-regular);
    color: #ACACB0;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.footer-li:hover {
    color: var(--color-sea);
}

.footer-li-map:hover {
    color: var(--color-sea)
}

.filters-btn {
    font-family: var(--font-family-Rob);
    font-weight: var(--font-weight-medium);
    font-size: 16px;
    line-height: 1.62;
    background: var(--color-white);
    color: var(--color-black);
    cursor: pointer;
}

.filters-btn:hover {
    background: var(--color-sea);
    color: var(--color-white);
}