:root {
    --font-family-Rob: Roboto;
    --font-family-Ral: Raleway;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-black: 900;
    --color-sea: #2196F3;
    --color-white: #fff;
    --color-black: #212121;
}

body {
    font-family: Roboto;
    color: #212121;
}

.header {
    background-color: var(--color-white);
    position: ;
}

.header-title {
    font-family: var(--font-family-Ral);
    font-weight: var(--font-weight-bold);
}

.header-title-color {
    color: var(--color-sea);
}

.header-list {
    display: inline-block;
    margin: 32px;
}

.header-link {
    font-family: var(--font-family-Rob);
    font-weight: var(--font-weight-medium);
    color: var(--color-black);
    font-size: 14px;
    line-height: 1.14;
}

.header-link:hover {
    color: var(--color-sea);
}

.main-title {
    font-family: var(- --font-family-Rob);
    font-weight: var(--font-weight-black);
    font-size: 44px;
    line-height: 1.36;
}

.main-title-button {
    background-color: var(--color-sea);
    color: var(--color-white);
    font-family: var(--font-family-Rob);
    font-weight: var(--font-weight-bold);
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
}

.ul-title-bold {
    font-family: var(--font-family-Rob);
    font-weight: var(--font-weight-bold);
    font-size: 14px;
    line-height: 1.14;
}

.ul-title-par {
    font-family: var(--font-family-Rob);
    font-size: 14px;
    line-height: 1.71;
}

.section-title {
    font-family: var(--font-family-Rob);
    font-weight: var(--font-weight-regular);
    font-size: 36px;
    line-height: 1.16;
}

.team-name {
    font-family: var(--font-family-Rob);
    font-weight: var(--font-weight-medium);
    font-size: 16px;
    line-height: 1.18;
}

.team-special {
    font-family: var(--font-family-Rob);
    font-weight: var(--font-weight-regular);
    font-size: 16px;
    line-height: 1.18;
}

.footer-li {
    font-family: var(--font-family-Rob);
    font-weight: var(--font-weight-regular);
    font-size: 14px;
    line-height: 1.71;
}

.footer-li:hover {
    color: var(--color-sea);
}

.filters-btn {
    font-family: var(--font-family-Rob);
    font-weight: var(--font-weight-medium);
    font-size: 16px;
    line-height: 1.62;
    background: var(--color-white);
    color: var(--color-black);
    cursor: pointer;
}

.filters-btn:hover {
    background: var(--color-sea);
    color: var(--color-white);
}